<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bientran-001-site1.atempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5109.site4now.net:8172/msdeploy.axd?site=bientran-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>bientran-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>bientran-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MyConn" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5106.site4now.net;Initial Catalog=db_aa2679_bientran;Persist Security Info=True;User ID=db_aa2679_bientran_admin;Password=dinhbien123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TranDinhBien_BanHang.Identity.AppDbContext, TranDinhBien_BanHang" MigrationConfiguration="TranDinhBien_BanHang.IdentityMigration.Configuration, TranDinhBien_BanHang" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyConn-Web.config Connection String">
      <ParameterValue>Data Source=SQL5106.site4now.net;Initial Catalog=db_aa2679_bientran;Persist Security Info=True;User ID=db_aa2679_bientran_admin;Password=dinhbien123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>